@using OTM.ViewModels.AnswerTemplate
@model OTM.ViewModels.AnswerTemplate.EditAnswerTemplatesViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Answer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TestTemplateId" />
            <input type="hidden" asp-for="AnswerTemplateId" />
            <input type="hidden" asp-for="ExerciseTemplateId" />            
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Correct" /> @Html.DisplayNameFor(model => model.Correct)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="ExerciseTemplates" asp-action="Edit" asp-route-testTemplateId="@Model.TestTemplateId" asp-route-exerciseTemplateId="@Model.ExerciseTemplateId">Back to exercise</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
