@model OTM.ViewModels.Tests.MarkedCorrectAnswerDisplayTestsViewModel
<tr>
    <td> @Html.HiddenFor(model => model.Id)</td>
    <td> @Html.CheckBoxFor(model => model.Correct)</td>
    <td> @Html.LabelFor(model => model.Correct, Model.Description)</td>
 </tr>   