@using OTM.ViewModels
@model OTM.ViewModels.NavbarViewModel
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("Components/_Header")
</head>

<body class="hold-transition skin-blue sidebar-mini">
@await Component.InvokeAsync("Navbar")
<div class="wrapper">
    @RenderBody()
</div>
@Html.Partial("Components/_Footer")
@RenderSection("Scripts", required: false)
</body>
</html>

