@model OTM.ViewModels.Group.AddStudentToGroupViewModel
@Html.HiddenFor(m => m.GroupId)

@section Scripts {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">  
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>  
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>  

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(function() {
            $("#searchStudent").autocomplete({
                source: function(request, response) {
                    $.ajax({
                        url: '/Groups/StudentNameAutoComplete?prefix=' + request.term,
                        //   data: "{ 'prefix': '" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function(data) {
                            response($.map(data,
                                function(item) {
                                    return { label: item.username, value: item.username };
                                }));
                        },
                        error: function(response) {
                            alert(response.responseText);
                        },
                        failure: function(response) {
                            alert(response.responseText);
                        }
                    });
                },
                minLength: 1
            });
        });
    </script>
 }

                                                                 
    <div class="content-wrapper">
    
        <div class="container-fluid" style="text-align: center">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="box box-solid" style="margin: 25px 0 0 0">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add students to group</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" asp-action="AddStudentToGroup">
                        <div class="box-body">
                            <p>To Do Alert message</p>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <input asp-for="GroupId" type="hidden"/>
                            </div>
                            <div class="form-group">
                                <label asp-for="StudentName" class="col-sm-2 control-label"></label>

                                <div class="col-sm-10">
                                    <input asp-for="StudentName" class="form-control" id="searchStudent">
                                </div>
                                <span asp-validation-for="StudentName" class="text-danger"></span>
                            </div>

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer" style="text-align: center">
                            <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.GroupId">Back to edit</a>
                            <input type="submit" value="Add students" class="btn btn-info" />   
                        </div>
                        <!-- /.box-footer -->
                    </form>

                </div>
            </div>
        </div>
    </div>