@model OTM.ViewModels.Group.AddStudentToGroupViewModel
@Html.HiddenFor(m => m.GroupId)
<!DOCTYPE html>
<html>
<head>
    <title>Add students to group</title>
</head>
<body>


@section Scripts {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">  
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>  
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>  

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(function() {
            $("#searchStudent").autocomplete({
                source: function(request, response) {
                    $.ajax({
                        url: '/Groups/StudentNameAutoComplete?prefix=' + request.term,
                        //   data: "{ 'prefix': '" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function(data) {
                            response($.map(data,
                                function(item) {
                                    return { label: item.username, value: item.username };
                                }));
                        },
                        error: function(response) {
                            alert(response.responseText);
                        },
                        failure: function(response) {
                            alert(response.responseText);
                        }
                    });
                },
                minLength: 1
            });
        });
    </script>
}
<h4>Add students to group</h4>
<br/>
<form asp-action="AddStudentToGroup">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="GroupId" type="hidden"/>
    </div>

    <div class="form-group">
        <label asp-for="StudentName" class="control-label"></label>
        <input asp-for="StudentName" type="text" id="searchStudent"/>
        <span asp-validation-for="StudentName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-default"/>
    </div>
</form>
<p>
    <a asp-action="Edit" asp-route-id="@Model.GroupId">Back to edit</a>
</p>
</body>
</html>